/* .container {
    width: 1296px;
    height:857;
    margin-left: 72px;
    margin-right: 76px;
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.container {
  max-width: 1360px;
  margin: 0 auto;         /* centers it */
  padding: 0 32px;        /* safe space left/right */
  box-sizing: border-box; /* prevents overflow */
}


body{
    font-family: 'inter';
}

h1{
    font-weight: 600;
}
h2{
    font-weight: 500;
}
h3{
    font-weight: 400;
}

 .btn {
    font-family: inter;
    font-weight: 500;
    font-size: 16px;    
    font-style: medium;
    color:#FFFFFF;
    padding: 14px 24px;
    border-radius: 16px;
    gap: 8px;
    text-decoration: none;
    line-height: 100%;
    background-color: #0B2A67;
    vertical-align: middle;

}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter_24pt-Regular.ttf);
}

@font-face {
    font-family: inter-bold;
    src: url(../fonts/Inter_24pt-Bold.ttf);
}

/* @font-face {
    font-family: poppinsbold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinssemibold;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: work-sans;
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf); */
/* } */

*{ 
    font-family: inter;
 }