/* Header */
header {
  background-color: #fff;
  /* padding: 14px 0px;  */
}

header .container {
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-right {
  display: flex;
  align-items: center;
  gap: 24px; 
}

header .header-right ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 30px 0px;
  padding: 0;
}

header .header-right ul li a {
  color: #37474F;
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

header .header-right ul li a:hover {
  color: #0367A1; 
}



header .header-right .btn:hover {
  background-color: #2eaef3;
}

/* banner */

#banner .container {
  position: relative;
  max-width: 1292px;
  min-height: 855px;
  background: url("../images/bg-banner.png") no-repeat center/cover;
  color: #fff;
  display: flex;
  /* align-items: center; */

}
.banner-overlay {
  position: absolute;
  inset: 0;
  background:url("../images/bg-overlay.png")no-repeat center/cover;
  z-index: 1;
}
.banner-left-shape {
  position: absolute;
  top: 43px;
  left: -1px;
  width: 839px;      
  height: 762px;     
  background: url("../images/shadow-img.png") no-repeat left center;
  background-size: contain; 
  z-index: -1; 
  pointer-events: none; 
}

.banner-content {
  position: relative;
  z-index: 2;
  padding: 5% 10%; 
}



.banner-content h1 {
    color: #F5F5F5;
    font-family: inter-bold;
    font-size: 48px;
    max-width: 700px;
    margin-top: 87px;
}

.banner-content span {
    color: #0CBA4C;
}
.banner-content p {
    font-weight: 400px;
    font-size: 18px;
    color: #ECEAE8;
    line-height: 24px;
    max-width: 638px;
    margin: 16px 0px 32px 0px;
}
.banner-buttons{
display: flex;
   gap:18px; 
} 

.banner-buttons .btn2{
    font-family: inter;
    font-weight: 500;
    font-size: 16px;    
    font-style: medium;
    color:#FFFFFF;
    padding: 14px 24px;
    border-radius: 16px;
    /* gap:18px; */
    text-decoration: none;
    line-height: 100%;
    background-color:transparent;
    border: 1px solid white;
    vertical-align: middle;
}

/* work */
#work {
   margin-top: 80px;
}

#work .container {
    max-width: 1123px;
    display: flex;
    gap: 17px;
    justify-content: flex-end;
    margin-bottom: 104px;
}

.work-card{
  max-width: 363px;
  display: block;
  background-color: #D2E0F6;
  padding: 88px 28px 30px 27px;
  clip-path: polygon(0 45px, 100% 0, 100% 100%, 0% 100%);
}

.work-card h1 {
    margin-bottom: 34px;
    color: #0B2A67;
    font-size: 24px;
    max-width: 308px;
}
.work-card p {
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;

}
.work-card p span {
    color: #0B2A67E5;
    font-family: inter-semibold;
}



/* service */
#service {
    background-color:#F4F7FC;

}

#service .container {   
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 131px;
    padding: 108px 74px 108px 72px;

}

#service .service-left h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 5%;
    color: #0367A1E5;
    margin-top: 73px;
    margin-bottom: 32px;    

} 

#service .service-left h2{
    font-weight: 500;
    color: black;
    font-style: medium;
    font-size: 30px;
    line-height: 48px;
    
    

}


#service .service-left p{
    font-weight: 400;
    color:#4D4D4D;
    font-size: 18px;
    line-height: 32px;
    vertical-align: middle;
    margin-top: 24px;
    margin-bottom: 48px;

}



#service .service-right {
  background-image: url(../images/service-right.png);
  background-repeat: no-repeat; 
  border-radius: 16px;
  display: flex;           
  justify-content: flex-start;
  align-items: flex-start;     
}


#service .service-right .card {
    background-color: #FFFFFF;
    /* width: 316px; */
    height:388px;
    position: relative;
    top: 104px;
    left: 48px;
    padding: 0px 0px 0px 24px;
    margin-bottom: 104px;
    border-radius: 16px;

}
#service .service-right .card h3{
    padding: 40px 0px;
    line-height: 32px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    margin: 0px;
    
}

#service .service-right .card .text {
  display: flex;
  flex-direction: column;   
  align-items: flex-start; 
}

#service .service-right .card .text .heading {
  display: flex;            
  align-items: center;
  gap: 8px;
}

#service .service-right .card .text h2 {
  font-size: 16px;
  color: #0B2A67E5;
  margin: 0;
  font-weight: 600px;
}

#service .service-right .card .text p {
  margin-top: 8px;          
  font-weight: 400;
  font-size: 16px;
  color: #4D4D4DE5;
  margin: 16px 0px 32px 0px ;
}

/* case study */

#case-study .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 347px;
    position: relative;
    margin-top: 104px;
    margin-bottom: 104px;

}

#case-study .case-study-right h1 {
    color: #0367A1E5;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 111px;
    padding-bottom:32px;
}

#case-study .case-study-right h2{
    color: #000000;
    font-weight: 500;
    font-size: 30px;
    font-family: inter-medium;
}

#case-study .case-study-right p {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 400px;
    line-height: 27px;
    padding-top: 24px;
    padding-bottom:48px;
}
#case-study .case-study-left img{
    position: relative;
    flex: 1;
    /* padding-top:60px; */

}

#case-study .case-study-left .abs-img1{
    position: absolute;
    top: -40.4px;
    left: 471.23px
}

#case-study .case-study-left .abs-img2 {
    position: absolute;
    top: -62px;
    left: 419px;
}

#case-study .case-study-left .abs-img3 {
    position: absolute;
    top:252px;
    left: 363px;
}


#case-study .case-study-left .text {
  display: flex;
}

#case-study .case-study-left .text p {
    position: absolute;
    top: 361px;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 500;
    font-family: inter-medium;
}
#case-study .case-study-left .text .arrow {
    position: absolute;
    top: 353px;
    left: 203px;
    background-color: #0CBA4C;
    padding: 12px 8px;
    border-radius: 33px;
    border: 2px;

}



/* certification */

#certification {
    position: relative;
}
#certification .container {
    margin-bottom: 104px;
}

#certification .head h1 {
    color: #0367A1E5;
    font-size: 24px;
    letter-spacing: 5%;
    line-height: 24px;
    font-weight: 400;
    padding-top: 104px;
}

#certification .head h2 {
    margin-top: 32px;
    color: #000000;
    font-size: 30px;
    font-family: inter-medium;

}

#certification .cert-card {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 32px;
    max-width: 692px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
    border-radius: 12px;
    padding: 24px 32px;
    /* flex: 1; */
    }

#certification .cert-card h3 {
    color: #0B2A67;
    font-family:inter-semibold;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
}

#certification .cert-card p {
    color: #0B2A67E5;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 30px 54px 56px 0px;
}

#certification .card-content {
    display: flex;
    gap: 54px;

}
#certification .text {
    display: block;
}

#certification .cert-decor {
    position:absolute;
    background: url('../images/tri-cert.svg');
    top: 56px;
    width: 180px;
    height: 618px;
    left: 1156px;
    right: 0; 
}

#certification .certification-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}


/* blog */

#blog {
  background-color: #0B2A67;
}

#blog .container {
  padding-bottom: 104px;
}

#blog h1 {
  color: #0CBA4C;
  padding-top: 104px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400; 
  letter-spacing: 5%;

}

#blog h2 {
  color: #E0E0E0;
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 32px;

}

#blog .blog-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#blog .card {
  position: relative;
  max-width: 379px;
  border-radius: 12px;
  /* overflow: hidden; */
}

#blog .card img {
 max-width: 421px;
  height: auto;
  display: block;
  border-radius: 12px;
}

#blog .card .box {
  position: absolute;
  bottom: -89px;
  left: 190px;
  transform: translateX(-50%);
  width: 90%;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
}

#blog .card h1 {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
  padding-top: 0px;
}

#blog .card p {
  font-size: 14px;
  line-height: 22px;
  color: #4D4D4DE5;
  margin-bottom: 8px;
}

#blog .card a {
  font-size: 14px;
  color: #0CBA4C;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

#blog .card .box img {
    color: #0CBA4C;
    
}

/* sustainibility */

#sustainability {
  background: #fff; 
  padding: 80px 0;
}

#sustainability .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px; 
  background-color: F4F7FC;
  position: relative;
  margin: 0 auto;
  
}

#sustainability .content {
  flex: 1;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #0B2A67;
}

.item span {
  width: 100px;
  height: 100px;
  background: #E0E0E0;
  border-radius: 50%;      
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #0B2A67;
  font-size: 56px;
}



h1{
  color: #0367A1;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  /* margin-top: 160px; */
}

#sustainability h2 {
  color: #0B2A67;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

#sustainability p {
  font-size: 16px;
  color: #4D4D4D;
  margin-bottom: 24px;
  line-height: 1.6;
}


#sustainability .right {
    background-color: #F4F7FC;
    padding-left: 117px;
    padding-top: 104px;
    padding-right: 136px;
    padding-bottom: 17px;
}

#sustainability .image {
    position: absolute; 
    bottom: 20px;       
    right: 20px;       
    max-width: 300px;   
}

#sustainability .image img {
    width: 100%;
    height: auto;
    display: block;
}




/* #sustainability .right {
    background-color:  #F4F7FC;
    padding: 160px 157px 17px 117px;
} */



footer {
  position: relative;
  background-color: #0B2A67; 
  color: #fff;
  text-align: right;
}


.footer-wave {
  position: absolute;
  top: -100px; 
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer-wave svg {
  display: block;
  width: 100%;
  height: 100px;
}


footer .head p {
  color: #D4D0CC;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-top: 25px;
  margin-bottom: 87px;;
}
   
footer .links ul {
list-style: none;
display: flex;
justify-content: end;
gap: 40px;
padding: 0;
margin-bottom: 48px;
}

footer .links ul li a {
color: #FAFAFA;
font-family: inter;
font-weight: 500;
font-size: 16px;
text-decoration: none;
}


 footer hr {
  position: absolute;
  right: 51px;
    bottom: 114px;
    width: 678px;     
  border: 0.5px solid #FAFAFA; 
} 


footer .icon-img {
  display: flex;
  justify-content: end;
  margin-top: 23px;
  gap: 21px;
}

.social-media a {
  color: #F0F0F0;
  text-decoration: none;

}

.social-media  a:hover {
  color: #00aced;
}
 footer .decor img {
  position: absolute;
  left: 0px;
  bottom: 0px;
  max-width: 248px;
 }

footer .container {
  padding-bottom: 80px;
}